body{
	background-color:#7bccb5;
	
}

.outerdiv {
  margin-top:60px;
}

.span-style {
  font-size:17px;
}

.search-bar {
  width:100%;
  max-width:500px;
  margin-bottom: 25px;
}

.bar-style {
  background: #337AB7;
  color: rgb(250,250,250);
}

.related-results {
  -moz-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}

.movie-poster {
  float:left;
  width: 150px;
  margin-right: 10px;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

.d{
  font-size:20px;
}

.c{
  margin-top: 10px;
}

.inner-p {
  margin:2px;
}

.b {
  margin-top: 5px;
}

.a{
  margin-top: 15px;
}

.hello{
  margin: 0 8px 0 8px;
}

.hello:before {
  content: "|";
}
